@import "tailwindcss";

/* Remove outline and tap highlight from all buttons */
button {
  border: none;
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
  tap-highlight-color: transparent !important;
  -webkit-user-select: none !important;
  user-select: none !important;
  -webkit-touch-callout: none !important;
}

button:focus,
button:active,
button:focus-visible,
button:focus-within {
  outline: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent !important;
  tap-highlight-color: transparent !important;
}

button::-moz-focus-inner {
  border: 0 !important;
  outline: none !important;
}
